body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
    text-align: center;
}
:root {
    --color1: #a8ea0d;
    --color2: #043f0d;
}

/* body {
    background: linear-gradient(to right, var(--color1), var(--color2));
} */

#game-arena {
    width: 613px;
    height: 615px;
    
    position: relative;
    border: 1px solid #002c07;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#score-board {
    font-size: x-large;
    font-weight: bold;
    color: rgb(131, 227, 203);
    margin: 10px 0;
}

.start-button {
    background-color: rgb(2, 59, 26);
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 0;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.food {
    width: 20px;
    height: 20px;
    background-color: rgb(143, 248, 6);
    position: absolute;
    border-radius: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.snake {
    width: 20px;
    height: 20px;
    background-color: rgb(46, 91, 1);
    position: absolute;
    border-radius: 5px;
}