.trademark {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: lightcyan;
}

#trademark {
    float: left;
    content: 'Shubham Ashish';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
    text-align: center;
    
}
:root {
    --bg-gradient-onyx: linear-gradient(
        to bottom right,
        hsl(120, 63%, 8%) 31%,
        hsl(0, 0%, 0%) 97%
    );
}
:root {
    --bg-gradient-snake: linear-gradient(
        to bottom right,
        hsl(0, 100%, 50%) 31%,
        hsl(12, 95%, 15%) 97%
    );
}

#game-arena {
    width: 613px;
    height: 615px;
    background: var(--bg-gradient-onyx);
    position: relative;
    border: 1px solid #000b03;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#score-board {
font-size: xx-large;
    font-weight: bold;
    color: rgb(0, 255, 136);
    margin: 10px 0;
}

.start-button {
    background-color: rgb(2, 59, 26);
    color: rgba(246, 255, 0, 0.932);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 0;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.food {
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, #00db42, #d9ff00);
    position: absolute;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.snake {
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, #00ff00, #0000ff);
    position: absolute;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    transform: rotate(15deg);
    animation: snake-move 1s infinite;
}

@keyframes snake-move {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}
